

.center {
    text-align: center;
}

.text-big {
    font-size: 250%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width: 200px;
}

.container{
font-family: "Raleway", sans-serif;
max-width: 800px;
margin: 0 auto;
color: #222222;
padding-top: 60px;
padding-left: 20px;
padding-right: 20px;
}
            
                
